$border-color: rgb(135, 135, 135, 0.5);

.sidebar {
  width: 400px;
  border: 1px solid $border-color;
  padding: 15px;
}

.word input {
  outline: none;
  border: none;
}

.defList {
  list-style: none;

  li {
    display: flex;
    flex-direction: row;
    gap: 10px;

    div {
      align-self: flex-start;
    }
  }
}

.def {
  width: 100%;
  outline: none;
  border: none;

  overflow: hidden;
  resize: none;
}